.primary-header {
	padding: 20px 0;
	overflow: hidden;
	background-color: $tertiaryColor;
	background-color: white;
	h1 {
		float: left;
	}
	ul {
		float: right;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}