@keyframes parallelogram {
	from { bottom: -320px; }
	to { bottom: 54px; }
}
@-o-keyframes parallelogram {
	from { bottom: -320px; }
	to { bottom: 54px; }
}
@-moz-keyframes parallelogram {
	from { bottom: -320px; }
	to { bottom: 54px; }
}
@-webkit-keyframes parallelogram {
	from { bottom: -320px; }
	to { bottom: 54px; }
}

.hero {
	height: 320px;
	background-color: $primaryColor;
	position: relative;
	overflow: hidden;
	margin-bottom: 54px;
	&:before {
		content: ' ';
		display: block;
		width: 100%;
		height: 100%;
		background-image: url('../img/hero.jpg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		opacity: 0.5;
		position: absolute;
		top: 0;
		left: 0;
	}

	.wrapper {
		position: relative;
		height: 100%;
	}

	h1 {
		display: block;
		padding: 0 32px;
		position: absolute;
		bottom: 54px;
		left: 40px;
		color: white;
		z-index: 1;
		animation: parallelogram 0.5s;
		-o-animation: parallelogram 0.5s;
		-moz-animation: parallelogram 0.5s;
		-webkit-animation: parallelogram 0.5s;
		&:before {
			content: ' ';
			display: block;
			width: 100%;
			height: 100%;
			background-color: $primaryColor;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			transform: skew(20deg);
			-o-transform: skew(20deg);
			-moz-transform: skew(20deg);
			-webkit-transform: skew(20deg);
		}
	}

}