.button {
	@include button($primaryColor);
	&:hover {
		background-color: $secondaryColor;
		box-shadow: 0 5px 0 shade($secondaryColor, 20%);
	}
	&.outline {
		box-shadow: none;
		color: $primaryColor;
		background-color: transparent;
		border: 1px solid $primaryColor;
		@include transition((color, background-color));
		&:hover {
			top: 0;
			color: white;
			background-color: $primaryColor;
		}
	}
}