form {
	display: block;

	.form-group {
		display: block;
		padding: 20px 0;
	}

	.form-section {
		background-color: $offWhite;
		border: 1px solid $lightGrey;
		border-radius: 4px;
		padding: 0 20px;
	}

	.form-group+.form-section {
		margin-top: 20px;
	}

	.form-help {
		font-style: italic;
	}

	label {
		display: block;
		margin-bottom: 10px;
	}

	input, select, textarea {
		width: 100%;
		padding: 10px;
		border-radius: 4px;
		border: 1px solid $lightGrey;
		@include box-sizing(border-box);
		&.error {
			border: 1px solid #c00;
			box-shadow: 0 0 3px #c00;
		}
	}

	input[type="checkbox"], input[type="radio"] {
		width: auto;
	}

}