html, body {
	color: $textColor;
	background-color: $offWhite;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	color: $primaryColor;
	font-family: 'Raleway', serif;
	line-height: 1.5;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.25em;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.75em;
}

h5 {
	font-size: 1.5em;
}

h6 {
	font-size: 1.25em;
}

p {
	font-size: 1em;
	line-height: 1.5;
}

a {
	color: $primaryColor;
	text-decoration: none;
	@include transition(color);
	&:hover {
		color: $secondaryColor;
	}
}

hr {
	width: 50%;
	border: 0;
	border-top: 1px solid $tertiaryColor;
	margin: 20px 0;
	&.accent {
		width: 25%;
		margin: 20px auto;
	}
}

strong {
	font-weight: bold;
}

.wrapper {
	width: 1200px;
	display: block;
	margin: 0 auto;
}