@mixin box-sizing($type) {
	box-sizing: $type;
	-o-box-sizing: $type;
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
}

@mixin transition($properties: all, $duration: 0.2s) {
	transition-property: $properties;
	-o-transition-property: $properties;
	-moz-transition-property: $properties;
	-webkit-transition-property: $properties;
	transition-duration: $duration;
	-o-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-webkit-transition-duration: $duration;
}

@mixin button($color) {
	cursor: pointer;
	outline: none;
	padding: 8px 26px;
	background-color: $color;
	border-radius: 4px;
	color: white;
	font-size: 1em;
	position: relative;
	top: 0;
	box-shadow: 0 3px 0 shade($color, 20%);
	@if ($color == white) {
		border: 1px solid shade($color, 20%);
	} @else {
		border: 0;
	}
	&:hover {
		top: -2px;
		box-shadow: 0 5px 0 shade($color, 20%);
	}
}